   body, html, head, article, section
   {
    margin: 0;
    padding: 0;
    vertical-align: 0;
    border: 0;
  }
  body{
    /* Text style for "Our search mar" */
    font-family: Arial;
    color: #052648;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  @font-face {
    font-family: NewCicle Gordita;
    /* Имя шрифта */
    src: url(fonts/New_Cicle_Gordita/New_Cicle_Gordita.ttf);
    /* Путь к файлу со шрифтом */
  }

  .header_nav {
    background-color: #184e84;
    margin: 0;
    padding: 0;
    border-bottom: #002c5f solid 1px;
  }
   .header_nav:after {
    content: "";
    display: table;
    clear: both;      
   }
  .header_nav h1 {
    /* Text style for "My Corporate W" */
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.6);
    color: #efefef;
    font-family: NewCicle Gordita;
    font-size: 30px;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    padding-left: 240px;
    float: left;
  }

  .header_ul {
    list-style: none;
    margin: 0 188px 0 0;
    padding: 0;
  }

  .header_ul li {
    float: right;
    line-height: 50px;
    padding-left: 28px;
  }

  .header_ul li a {
    color: #efefef;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }

  .sidebar_wrapper {
    height: 350px;
    background-color: #d1e6f9;
    border-bottom: #bfd5e9 solid 1px;
    margin: 0;
    padding: 0;


  }

  .sidebar {
    width: 963px;
    margin: 0 219px;
    padding-top: 23px;
  }

  .sidebar_list {
    background-color: #e0e0e0;
    width: 250px;
    float: left;
    border: #bdbdbd solid 1px;
  }
  .sidebar_list ul{
    margin: 0;
    padding: 0;
  }
  .sidebar_list li{
    list-style: none; 
    line-height: 75px;
    border-bottom:#bdbdbd solid 1px;

  } 
  .sidebar_list li:last-child{
    border-bottom: none; 

  }

  .sidebar_list li a{
    text-decoration: none;
    color: #191919;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;

  }
  .sidebar_content {
    background: url(images/Blue-Gradient.png);
    background-size: cover;  
    border: #68ace5 solid 1px;
    width: 709px;
    float: right;
    
  }
  .sidebar_content:after {
    content: "";
    display: table;
    clear: both;            
  }
  
  .sidebar_content h2{
    /* Text style for "Professional S" */
    text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.55);
    color: #efefef;
    font-family: Georgia;
    font-size: 24px;
    font-style: italic;
    line-height: 20px; 
    font-weight: normal;
    padding: 0 39px;
    margin: 31px 0 30px;
  }
  .sidebar_content ul{
    margin: 0;  
  }  


  .sidebar_content p{
   text-align: center; 
   margin: 0 0 23px 0;
   padding: 0 50px;
 }
 .sidebar_content ul li{             
   float: left;
 }
 .sidebar_content ul li a{
   text-decoration: none;    
 }
 .sidebar_content_font{             
  font-family: Georgia;
  text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.55);
  color: #efefef;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 40px;
}              
.custom_reporting {
 list-style: none;
 background: url(images/ball_icon.png) no-repeat 0 0%; 
 float: left; 
 width: 200px; 
 margin: 0;
 padding: 0;
} 
.custom_reporting p{
  padding: 0;
  text-align: left;
  margin: 0;
}

.increased_exposure{
  list-style: none;
  background: url(images/magnifying_glass_icon.png) no-repeat 0 0%;
  float: left; 
  width: 200px; 
  margin-left: 20px;
  padding: 0;
} 
.increased_exposure p{
  padding: 0;
  text-align: left;
  margin: 0;
 }   
.seo_tools{
  list-style: none;
  background: url(images/wrench_icon.png) no-repeat 0 0%;
  width: 200px; 
  margin-left: 20px;
  padding: 0;
  float: left; 
}
.seo_tools p{
  padding: 0;
  text-align: left;
  margin: 0;
}
