   body, html, head, article, section
       {
            margin: 0;
            padding: 0;
            vertical-align: 0;
            border: 0;
        }
        body{
            /* Text style for "Our search mar" */
            font-family: Arial;
            color: #052648;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        
        @font-face {
            font-family: NewCicle Gordita;
            /* Имя шрифта */
            src: url(fonts/New_Cicle_Gordita/New_Cicle_Gordita.ttf);
            /* Путь к файлу со шрифтом */
        }
        
        .header_nav {
            background-color: #184e84;
            margin: 0;
            padding: 0;
            height: 50px;
            border-bottom: #002c5f solid 1px;
        }
        
        .header_nav h1 {
            /* Text style for "My Corporate W" */
            text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.6);
            color: #efefef;
            font-family: NewCicle Gordita;
            font-size: 30px;
            font-weight: normal;
            line-height: 50px;
            margin: 0;
            padding-left: 240px;
            float: left;
        }
        
        .header_ul {
            list-style: none;
            margin: 0 240px 0 0;
            padding: 0;
        }
        
        .header_ul li {
            float: right;
            line-height: 50px;
            padding-left: 28px;
        }
        
        .header_ul li a {
            color: #efefef;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
        }
        
        .sidebar_wrapper {
            height: 350px;
            background-color: #d1e6f9;
            border-bottom: #bfd5e9 solid 1px;
            margin: 0;
            padding: 0;
            
            
        }
        
        .sidebar {
            width: 960px;
            margin: 0 auto;
            padding: 23px;
        }
        
        .sidebar_list {
            background-color: #e0e0e0;
            width: 250px;
            float: left;
            border: #bdbdbd solid 1px;
        }
         .sidebar_list ul{
            margin: 0;
            padding: 0;
        }
        .sidebar_list li{
            list-style: none; 
            line-height: 85px;
            border-bottom:#bdbdbd solid 1px;
            
        } 
         .sidebar_list li:last-child{
            border-bottom: none; 
           
         }
        
         .sidebar_list li a{
            text-decoration: none;
            color: #191919;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            padding-left: 20px;
               
        }
        .sidebar_content {
            background: url(images/Blue-Gradient.png);  
            border: #68ace5 solid 1px;
            height: 305px;
           
        }
        .sidebar_content h2{
            /* Text style for "Professional S" */
            text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.55);
            color: #efefef;
            font-family: Georgia;
            font-size: 24px;
            font-style: italic;
            line-height: 20px; 
            font-weight: normal;
            margin: 0;           
        }
         .sidebar_content p{
             margin: 0;
         }
         .sidebar_content ul li{             
             float: left;
         }
         .sidebar_content ul li a{
             text-decoration: none;    
         }
         .sidebar_content_font{             
              font-family: Georgia;
              text-shadow: 0.5px 0.9px 1px rgba(0, 0, 0, 0.55);
              color: #efefef;
              font-size: 18px;
              font-weight: 400;
              line-height: 28px;
          }              
        .custom_reporting {
             list-style: inside url(images/ball_icon.png);  
             float: left; 
             width: 200px; 
             margin: o;
             padding: 0 0 0 30px;
        } 
                                     
         .increased_exposure{
              list-style: inside url(images/magnifying_glass_icon.png);
              float: left; 
              width: 200px; 
              margin: o;
              padding: 0 0 60px 30px;
         } 
          
         .seo_tools{
              list-style: inside url(images/wrench_icon.png);
              width: 200px; 
              margin: o;
              padding: 0 0 0 30px;
         }